{% extends 'base.html.twig' %}

{% block main %}
    <h1>Ajouter une serie</h1>

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button type="submit">Send!</button>
    {{ form_end(serieForm) }}

{% endblock %}

{% block title %}Ajouter une serie | {{ parent() }}{% endblock %}